<div class="section seccionDos">
			<div class="row">
				<div class="col-12">
					<h2 class="text-center tituloDos"> Cotiza con nosotros</h2>
				</div>
			</div>
			<div class="row">
				 <div class="col-md-4 offset-md-4">
					<div class="jumbotron">
						<form id="cotiza">
							<div class="form-group">
								<label for="exampleInputEmail1">Ingresa su direccion de origen </label>
								<input type="text" class="form-control" id="origen" aria-describedby="emailHelp" placeholder="Rebeca Matte 18,Santiago, Chile">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Ingresa su direccion de Destino </label>
								<input type="text" class="form-control" id="destino" aria-describedby="emailHelp" placeholder="Rebeca Matte 18,Santiago, Chile">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Metros cubicos del lugar a mudar </label>
								<input type="number" class="form-control" id="metros"  placeholder="45">
							</div>
							
							<div class="form-group form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								<label class="form-check-label" for="exampleCheck1">Check me out</label>
							</div>
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
				 <div class="col-md-4 offset-md-4">
				 </div>
			</div>